{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
	Administration Alphorn project
{% endblock %}
{% block main %}
	<div class="content">
		<p>Bienvenue sur l'interface d'administration d'Alphorn project.</p>
	</div>
{% endblock %}