<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact - Alphorn Project</title>
    </head>
    <body>
        <h2>New contact message</h2>
        <p>
            <strong>Name:</strong>
            {{ name }}</p>
        <p>
            <strong>Email:</strong>
            {{ email }}</p>
        <p>
            <strong>Subject:</strong>
            {{ subject }}</p>
        <p>
            <strong>Message:</strong><br>{{ message }}</p>
    </body>
</html>

